/* http://www.colorcombos.com/color-scheme-230.html is the scheme */

@import url(http://fonts.googleapis.com/css?family=Gilda+Display|Josefin+Slab);

body { 
  font-family: 'Gilda Display', serif;
  background-color: #561420;
  color: 333333 }

h1,h2,h3 {  font-family: 'Josefin Slab', serif;  }

h1 {  font-size:3.5em; }
h2 {  font-size:2.5em; }

header { background-color: #CCCCCC;
                padding:40px; }

footer { background-color: #CCCCCC;
         padding:20px; }      

.units-row { margin:20px}

.unit-50, .unit-30, .unit-70, .unit-40, .unit-60, .unit-10, .unit-80 { background-color: #C59A6F;
                               border-width: 2px;
                               border-radius: 20px;
                               padding:20px
                               }

 

.bkg { background-color:rgba(86,20,32,0.7);
         padding: 20px;
         border-radius: 30px}
.reveal li { font-size:1.75em }
.reveal li.credits { font-size:1.2em }